body {
    background-color: #FFFFFF;    
    margin-left: 10px;
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .85em;
}

h1 {
    color: #000000;
    font-size: 1.5em;
}

p {
    color: #000000;
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: 1em;
}

pre {
    color: #000000;
    margin-left: 10px;
    font-size: 1.2em;
}

body {
    height:100%;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:8px;
    margin-right:0px;
}

.bld_command_note {
    text-align:center;
    align:center;
    valign:center;
//    background-image:url(../../doc/icon-note-sm.png);
    text-align:center;
    background-repeat:no-repeat;
    background-position:center;
    width:22px;
    height:18px;
    cursor: default;
    vertical-align: middle;
    background-vertical-align: middle;
}

.column_heading {
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .85em;
    font-weight: bold;
    margin-left: 16px;
}

.column_entry {
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .85em;
    padding-right: 16px;
}


.bld_command_table_hdr {
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .85em;
    padding-right: 16px;
}

.bld_command_table_entry {
    font-size: .85em;
    padding-right: 16px;
}

code {
    color: #000000;
    xmargin-left: 10px;
    font-size: 1.2em;
}

.fixed {
    color: #000000;
    font-family: "Courier New", Courier, serif;
    margin-left: 10px;
    font-size: 1.2em;
}

.indent {
    margin-left: 20px;
}

.problem_statement {
    margin-left: 20px;
    color:#000050;
}
.problem_statement p{
    color:#000050;
}

.solution_statement {
    margin-left: 20px;
}

.td {
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .85em;
}

.spaced_col {
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .85em;
    margin-left: 16px;
}

.footer_notices {
    font-family: "Arial New", Helvetica, sans-serif;
    font-size: .80em;
}

.footer_notices a:link {
    color: #404060;
}
.footer_notices a:visited {
    color: #404060;
}
.footer_notices a:hover {
    color: #606080;
}


 /* unvisited link */
a:link {
    color: #000080;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #000081;
}

/* mouse over link */
a:hover {
    color: #000080;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: #000080;
    //text-decoration: underline;
}

a:inactive {
    color: #808080;
    //text-decoration: none;
}